################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RouteGame/.vs/RouteGame
/RouteGame/AppPackages
/RouteGame/bin
/RouteGame/BundleArtifacts
/RouteGame/obj
