################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RouteGame/.vs/RouteGame
/RouteGame/AppPackages/RouteGame_1.0.0.0_Debug_Test
/RouteGame/bin
/RouteGame/BundleArtifacts
/RouteGame/obj
